<launch>
    <arg name="car_name" default="rccar" />
    <arg name="use_pid" default="false" />
    
    <group ns="$(arg car_name)">
        <node name="run_arduino" pkg="rccar" type="arduino_node.py" output="log" respawn="true">
        </node>
        
        <node name="run_camera" pkg="rccar" type="camera_node.py" output="log" respawn="true">
        </node>
    </group>

</launch>
